:root {
    --navbar-color: lightgrey;
    --default-text-color: black;
}

.masthead {
    background-color: var(--navbar-color);
    /* sticky alignment */
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    /* pixel that is sticky to */
    top: 0;
}

.navbar_flex_div {
    background-color: var(--navbar-color);
    /* flex */
    padding: 0px 16px;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 10px;
}

.center {
    display: flex;
    flex-direciton: row;
    justify-content: center;
    align-items: center;
    flex: 0 1 728px;
    min-width: 0px;
}

.searchbox {
    text-align: center;
}

.searchbox input[type=text] {
    background-color: darkgray;
    display: block;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    width: 300px;
    margin: 0;
    border: 1px solid black;
    margin-left: 80px;
}

.searchbutton {
    font-size: 16px;
    line-height: 24px;
}

#search-input {
    display: flex;
    justify-content: center;
}

.right {
    align-items: center;
    margin-top: 5px;
    min-width: 225px;
    justify-content: flex-end;
    flex: none;
    display: flex;
    flex-direction: row;
}

/*begin dropdown styles*/
.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: var(--navbar-color);
}

.dropdown-content {
    display: none;
    right: 0px;
    margin-right: 16px;
    position: fixed;
    background-color: var(--navbar-color);
    min-width: 120px;
}

.dropdown-content a {
    float: none;
    color: var(--default-text-color);
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

p.temp {
    padding-bottom: 10000px;
}