:root {
    --navbar-color: lightgrey;
}

.navbar_flex_div {
    /* flex */
    display: flex;
    overflow: auto;
    font-size: 30px;
    flex-direction: row;

    /* sticky alignment */
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    /* pixel that is sticky to */
    top: 0;
}
.navbar_logo {
    flex: 10%;
    background-color: var(--navbar-color);
    text-align: left;
    padding: 5px;
}
.navbar_padding_left {
    flex: 23%;
    background-color: var(--navbar-color);
}

.navbar_search {
    flex: 33%;
    background-color: var(--navbar-color);
    text-align: center;
    padding: 5px;
}

.navbar_padding_right {
    flex: 23%;
    background-color: var(--navbar-color);
}

.navbar_account {
    flex: 10%;
    background-color: var(--navbar-color);
    text-align: right;
    padding: 5px;
}



.text {
    /* TODO */
}