:root {
    --navbar-color: lightgrey;
    --default-text-color: black;
}

.navbar_flex_div {
    /* flex */
    display: flex;
    overflow: auto;
    font-size: 30px;
    flex-direction: row;

    /* sticky alignment */
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-start;
    /* pixel that is sticky to */
    top: 0;

    z-index: 0;
}

.navbar_logo {
    flex: 10%;
    background-color: var(--navbar-color);
    text-align: left;
    padding: 5px;
}
.navbar_padding_left {
    flex: 23%;
    background-color: var(--navbar-color);
}

.navbar_search {
    flex: 33%;
    background-color: var(--navbar-color);
    text-align: center;
    padding: 5px;
}

.navbar_padding_right {
    flex: 23%;
    background-color: var(--navbar-color);
}

.navbar_account {
    flex: 10%;
    background-color: var(--navbar-color);
    text-align: right;
    padding: 5px;
}

/*begin dropdown styles*/
.dropdown {
    float: right;
    overflow: visible;

}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: var(--navbar-color);
}

.dropdown-content {
    display: none;
    position: fixed;
    background-color: var(--navbar-color);
    min-width: 120px;
}

.dropdown-content a {
    float: none;
    color: var(--default-text-color);
    padding: 4px 4px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
/*end dropdown styles*/

html, body {
    scrollbar-width: none;
}

.default::-webkit-scrollbar {
    display: none;
}

.default {
    -ms-overflow-style: none;
    overflow-y: scroll;
    margin: 0;
}

.text {
    position: static;
    z-index: 0;
}
